/**

    Basic stylizations

**/
body{
    background: url("img/white-marble-2048.jpg") center fixed;
    overflow:hidden;
    overflow-x: hidden;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}


/**

    Below is the CSS for the start up page with the opening of cards

**/
body{
    overflow:hidden;
}

.holding-div, .about-holding{
 height: 100vh;
}

.card-holder{
    display:block;
    width: 550px;
    height: 850px;
    margin: 75 auto;
    position:relative;
}

.text{
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    text-align: center;
    vertical-align: center;
    display: block;
    position:relative; 
    overflow:hidden;
}

.txt-open{
    top: 120px;
     transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    animation: slide-text 2.5s forwards;
    -webkit-animation: slide-text 2.5s forwards;
}

@-webkit-keyframes slide-text {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(40%); }
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4, .rectangle5{
    display: block;
    width: 550px; 
    height: 850px;
    border-radius: 30px;
    border-style: solid;
    border-width: 8px;
    border-color: black;
    position: absolute;
    border-radius: 30px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.rectangle1 {
   background: white url("img/hello-sm.png") center no-repeat;
   z-index:-1;
}

.rectangle2 {
   background: white url("img/hello-sm.png") center no-repeat;
   z-index:-2;
}

.rectangle3 {
   background: white url("img/hello-sm.png") center no-repeat;
   z-index:-3;
}

.rectangle4 {
   background: white url("img/hello-sm.png") center no-repeat;
   z-index:-4;
}

.rectangle5 {
   background: white url("img/hello-sm.png") center no-repeat;
   z-index:-5;
}

.transform{
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;/*How long the transition is*/
    transform-origin: bottom center;
}

.card-holder:hover .rectangle1{
      background: black;
}

.rect1-active, .rect2-active, .rect3-active, .rect4-active, .rect5-active, {
    width: 550px; 
    transform-origin: bottom center;
}
.rect1-active{
   -webkit-transform: rotate(50deg); /* Safari */
   transform: rotate(50deg);/*spin*/
}

.rect2-active{ 
   -webkit-transform: rotate(30deg); /* Safari */
   transform: rotate(30deg);/*spin*/
}
.rect4-active{
   -webkit-transform: rotate(-30deg); /* Safari */
   transform: rotate(-30deg);/*spin*/
}

.rect5-active{ 
   -webkit-transform: rotate(-50deg); /* Safari */
   transform: rotate(-50deg);/*spin*/
}

/**
    
    Below is the CSS for the about sections,
    elements focus on two specific divs/cards that hold the 
    image card and the details card.

**/
.about-img{
    background: url("img/hello.png") center;
}
.about-img, .about-desc {
    display: block;
    width: 780px; 
    height: 1180px;
    position:absolute;
    border-radius: 30px;
    border-style: solid;
    border-width: 8px;
    margin: 35px 150px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-in {
    animation: slide-in 1.5s forwards;
    -webkit-animation: slide-in 1.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}


/**

    Below is CSS for the about-desc div slide in and out animation

**/
.about-desc{
    background: white;
    margin: 35px 0px -10px 0px;
    left: 40%;
    padding: 0px 15px 0px 15px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.slide-desc-in {
    animation: slide-desc-in 1.5s forwards;
    -webkit-animation: slide-desc-in 1.5s forwards;
}

.slide-desc-out {
    animation: slide-desc-out 0.5s forwards;
    -webkit-animation: slide-desc-out 0.5s forwards;
}
    
@keyframes slide-desc-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-desc-out {
    100% { -webkit-transform: translateX(-100%); }
}
    
@keyframes slide-desc-out {
    0% { transform: translateY(40%); }
    100% { transform: translateY(-100%); }
}

@-webkit-keyframes slide-desc-out {
    0% { -webkit-transform: translateY(40%); }
    100% { -webkit-transform: translateY(-100%); }
}

/**

    This below will contain the CSS navigation bar for the about me page 

**/

.nav-bar{
    width: 750px; 
    height: 1200px;
    position: absolute;
    left:90%;
}
.navbar-1, .navbar-2, .navbar-3, .navbar-4{
    display: block;
    width: 450px; 
    height: 700px;
     border-radius: 30px;
    border-style: solid;
    border-width: 8px;
    background: white url("img/hello-sm.png") center;
    margin: 35px;
    position:relative;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    -webkit-transform: rotate(-30deg); /* Safari */
    transform: rotate(-30deg);/*spin*/
}

.navbar-2{
    background: white url("img/hello-sm.png") center;
    margin-top: -550px;
    z-index: 2;
}

.navbar-3{
    background: white url("img/hello-sm.png") center;
    margin-top: -550px;
    z-index: 3;
}

.navbar-4{
    background: white url("img/hello-sm.png") center;
    margin-top: -550px;
    z-index: 4;
}

.navbar-1:hover, .navbar-2:hover, .navbar-3:hover, .navbar-4:hover {
   margin-left: -80px;
}

/**

    This CSS is to size down elements for screens with the width smaller than 1280. 
    Most of the ratios and styles are the same as above

**/
@media only screen and (max-width: 1920px) {
    .holding-div{
     height: 100vh;
    }

    body{
      overflow-y: hidden;
    }
    
    .card-holder{
        display:block;
        width:350px;
        height: 550px;
        margin: 65px auto;
        position: relative;
      }
    
    .text{
        font-size: 50px;
    }

    .txt-open{
        top: 80px;
         transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        animation: slide-text 2.5s forwards;
        -webkit-animation: slide-text 2.5s forwards;
    }

    .rectangle1, .rectangle2, .rectangle3, .rectangle4, .rectangle5{
        display: block;
        left:0px;
        width: 350px; 
        height: 550px;
        position:absolute;
        border-radius: 30x;
        border-width: 5px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -o-transition: margin 0.5s ease-out;
    }

    .rectangle1 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-1;
    }

    .rectangle2 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-2;
    }

    .rectangle3 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-3;
    }

    .rectangle4 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-4;
    }

    .rectangle5 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-5;
    }

    .transform{
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;/*How long the transition is*/
        transform-origin: bottom center;
    }
    
    /**

    This below will contain the CSS navigation bar for the about me page 

    **/

    .nav-bar{
        width: 750px; 
        height: 1200px;
        position: absolute;
        left:95%;
    }
    .navbar-1, .navbar-2, .navbar-3, .navbar-4{
        display: block;
        width: 350px; 
        height: 550px;
        border-radius: 30px;
        border-style: solid;
        border-width: 5px;
        background: #F5F8F2 url("img/hello-sm.png") center;
        margin: 35px;
        position:relative;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -o-transition: margin 0.5s ease-out;
        -webkit-transform: rotate(-30deg); /* Safari */
        transform: rotate(-30deg);/*spin*/
    }

    .navbar-2{
        background: #F5F8F2 url("img/hello-sm.png") center;
        margin-top: -500px;
        z-index: 2;
    }

    .navbar-3{
        background: #F5F8F2 url("img/hello-sm.png") center;
        margin-top: -500px;
        z-index: 3;
    }

    .navbar-4{
        background: #F5F8F2 url("img/hello-sm.png") center;
        margin-top: -500px;
        z-index: 4;
    }

    .navbar-1:hover, .navbar-2:hover, .navbar-3:hover, .navbar-4:hover {
       margin-left: -50px;
    }
    
    .about-img, .about-desc {
        display: block;
        width: 550px; 
        height: 800px;
        position:absolute;
        border-radius: 30px;
        border-style: solid;
        border-width: 6px;
        margin: 35px 100px;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    
    .about-desc{
        background: white;
        margin: 35px 0px -10px 0px;
        left: 40%;
        padding: 0px 15px 0px 15px;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }

    .slide-desc-in {
        animation: slide-desc-in 1.5s forwards;
        -webkit-animation: slide-desc-in 1.5s forwards;
    }

    .slide-desc-out {
        animation: slide-desc-out 0.5s forwards;
        -webkit-animation: slide-desc-out 0.5s forwards;
    }

    @keyframes slide-desc-in {
        100% { transform: translateY(0%); }
    }

    @-webkit-keyframes slide-desc-out {
        100% { -webkit-transform: translateX(-100%); }
    }

    @keyframes slide-desc-out {
        0% { transform: translateY(40%); }
        100% { transform: translateY(-100%); }
    }

    @-webkit-keyframes slide-desc-out {
        0% { -webkit-transform: translateY(40%); }
        100% { -webkit-transform: translateY(-100%); }
    }
}




/**

    This CSS is to size down elements for screens with the width smaller than 1280. 
    Most of the ratios and styles are the same as above

**/
@media only screen and (max-width: 1280px) {
    .holding-div{
     height: 100vh;
    }

    body{
      overflow-y: hidden;
    }
    
    .card-holder{
        display:block;
        width:250px;
        height: 300px;
        margin: 20px auto;
        position: relative;
      }
    
    .text{
        top: 100px;
        font-size: 50px;
    }

    .txt-open{
        top: 175px;
         transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        animation: slide-text 2.5s forwards;
        -webkit-animation: slide-text 2.5s forwards;
    }

    .rectangle1, .rectangle2, .rectangle3, .rectangle4, .rectangle5{
        display: block;
        left:0px;
        width: 250px; 
        height: 400px;
        position:absolute;
        border-radius: 10px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -o-transition: margin 0.5s ease-out;
    }

    .rectangle1 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-1;
    }

    .rectangle2 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-2;
    }

    .rectangle3 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-3;
    }

    .rectangle4 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-4;
    }

    .rectangle5 {
       background: white url("img/hello-xsm.png") center no-repeat;
       z-index:-5;
    }

    .transform{
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;/*How long the transition is*/
        transform-origin: bottom center;
    }
}